package-lock.json
**/wwwroot/css/icons/dxicons.ttf
**/wwwroot/css/icons/dxicons.woff
**/wwwroot/css/icons/dxicons.woff2
**/wwwroot/css/designer.part.bundle.css
**/wwwroot/css/thirdparty.bundle.css
**/wwwroot/css/viewer.part.bundle.css
**/wwwroot/js/designer.part.bundle.js
**/wwwroot/js/viewer.part.bundle.js
**/wwwroot/js/thirdparty.bundle.js