package-lock.json
bin/
obj/
.vs/
node_modules/
*.user
*.suo
**/*.bundle.js
**/*.bundle.css
/ReportingWebApp/wwwroot/css/icons/dxiconsmaterial.woff
/ReportingWebApp/wwwroot/css/icons/dxiconsmaterial.woff2
/ReportingWebApp/wwwroot/css/icons/dxicons.ttf
/ReportingWebApp/wwwroot/css/icons/dxiconsmaterial.ttf
/ReportingWebApp/wwwroot/css/icons/dxicons.woff
/ReportingWebApp/wwwroot/css/icons/dxicons.woff2
